@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 2em;
  pointer-events: none;
}


.admin-panel {
  position: sticky;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
body {
  background-color: #282c34;
}

.App-header {
  background-color: #282c34;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-size: 12px;

}

th {
  background-color: #0095b3;
}

.buttons {
  display: flex;
  flex-direction: row;
  padding: 20px;
 
}

button {
  margin: 20px;
}

.categoryRow {
  background-color: #0095b37d;
  font-weight: bold;
  font-size: calc(18px);

  text-align: left;
  display: inline-block;
 
  white-space: nowrap;
  padding: 0 10px;
  min-width: 100%;

}

.containerz {
  max-width: 100%;
  margin: 0 10%;
}

table {
  table-layout: fixed;
}

.boldCell {
  font-weight: 900;
  font-size: 14px;
}

#loginled {
  width: 80px;
  height: 80px;
  fill: greenyellow;
  position: absolute;

  z-index: 99;
  top: 63px;
  right: 0;
}

